/* src/components/MapVisualization.css */
#mapViz {
  position: relative;
  height: 100%;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}
